# .env.cloud.example
# Copiar a .env.cloud antes de desplegar:
#   cp .env.cloud.example .env.cloud

AUTH_SERVICE_URL=https://auth.hagemsa.com
NEXT_PUBLIC_API_GATEWAY_URL=https://api-gateway.hagemsa.com
NEXT_PUBLIC_ACTIVOS_API_URL=https://api-activos-dev.hagemsa.com
NEXT_PUBLIC_COMBUSTIBLE_API_URL=https://api-combustible-dev.hagemsa.com
NEXT_PUBLIC_SOCIO_NEGOCIOS_API_URL=https://api-bc01-socio-negocio.hagemsa.com/api
NEXT_PUBLIC_CONFIGURACION_GENERAL_API_URL=https://bc14-cs-configuracion-general.hagemsa.com/api
NODE_ENV=production
